@import url(fontawesome-all.min.css);
@import url("http://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300italic,600italic,300,600");
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400');
@import url('https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

mark {
	background-color: transparent;
	color: inherit;
}

input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input, select, textarea {
	-moz-appearance: none;
	-webkit-appearance: none;
	-ms-appearance: none;
	appearance: none;
}

/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 350px;
		}

	}

	html {
		box-sizing: border-box;
	}

	*, *:before, *:after {
		box-sizing: inherit;
	}

	body {
		background-color: #935d8c;
		background-image: url("images/overlay.png"), -moz-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), -webkit-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), -ms-linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
		background-image: url("images/overlay.png"), linear-gradient(45deg, #e37682 15%, #5f4d93 85%);
	}

		body.is-preload *, body.is-preload *:before, body.is-preload *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body {
		background-color: #935d8c;
		color: rgba(255, 255, 255, 0.7);
	}
/*THIS FOR FONT COLOUR*/
	body, input, select, textarea {
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 18pt;
		font-weight: 300;
		line-height: 1.65;
	}

		@media screen and (max-width: 1680px) {

			body, input, select, textarea {
				font-size: 14pt;
			}

		}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

		@media screen and (max-width: 360px) {

			body, input, select, textarea {
				font-size: 11pt;
			}

		}

	a {
		-moz-transition: color 0.2s ease, border-bottom 0.2s ease;
		-webkit-transition: color 0.2s ease, border-bottom 0.2s ease;
		-ms-transition: color 0.2s ease, border-bottom 0.2s ease;
		transition: color 0.2s ease, border-bottom 0.2s ease;
		text-decoration: none;
		border-bottom: solid 2px purple;
		color: inherit;
	}

		a:hover {
			border-bottom-color: transparent;
		}

	strong, b {
		font-weight: 400;
	}

	em, i {
		font-style: italic;
	}


	i.fa{
		font-family: fontawesome !important;
	}

	p {
		margin: 0 0 2em 0;
		font-size: 1.5em;
    color: rgba(255, 255, 255, 0.7);
	}

	ol li {
		font-size: 1.25em;
		list-style: decimal;
	}

	ul li {
		font-size: 1.25em;
	}

		p.content {
			-moz-columns: 20em 2;
			-webkit-columns: 20em 2;
			-ms-columns: 20em 2;
			columns: 20em 2;
			-moz-column-gap: 2em;
			-webkit-column-gap: 2em;
			-ms-column-gap: 2em;
			column-gap: 2em;
			text-align: justify;

		}

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
		line-height: 1.5;
		margin: 0 0 0.7em 0;
		letter-spacing: -0.025em;
	}

		h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
			color: inherit;
			text-decoration: none;
		}

	h1 {
		font-size: 3em;
		line-height: 1.2;
	}

	h2 {
		font-size: 2em;
	}

	h3 {
		font-size: 1.25em;
	}

	h4 {
		font-size: 1.1em;
	}

	h5 {
		font-size: 0.9em;
	}

	h6 {
		font-size: 0.7em;
	}

	@media screen and (max-width: 736px) {

		h1 {
			font-size: 2em;
		}

	}

	sub {
		font-size: 0.8em;
		position: relative;
		top: 0.5em;
	}

	sup {
		font-size: 0.8em;
		position: relative;
		top: -0.5em;
	}

	blockquote {
		border-left: solid 4px;
		font-style: italic;
		margin: 0 0 2em 0;
		padding: 0.5em 0 0.5em 2em;
	}

	code {
		border-radius: 8px;
		border: solid 1px;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0.25em;
		padding: 0.25em 0.65em;
	}

	pre {
		-webkit-overflow-scrolling: touch;
		font-family: "Courier New", monospace;
		font-size: 0.9em;
		margin: 0 0 2em 0;
	}

		pre code {
			display: block;
			line-height: 1.75;
			padding: 1em 1.5em;
			overflow-x: auto;
		}

	hr {
		border: 0;
		border-bottom: solid 1px;
		margin: 2em 0;
	}

		hr.major {
			margin: 3em 0;
		}

	.align-left {
		text-align: left;
	}

	.align-center {
		text-align: center;
	}

	.align-right {
		text-align: right;
	}

	input, select, textarea {
		color: #ffffff;
	}

	a:hover {
		color: #ffffff;
	}

	/*	strong, b {
			color: #ffffff;
		}*/

	h1, h2, h3, h4, h5, h6 {
		color: #ffffff;
	}

	blockquote {
		border-left-color: rgba(255, 255, 255, 0.35);
	}

	code {
		background: rgba(255, 255, 255, 0.075);
		border-color: rgba(255, 255, 255, 0.35);
	}

	hr {
		border-bottom-color: rgba(255, 255, 255, 0.35);
	}

  /* Header */

	#header {
		padding: 5em 5em 1em 5em ;
		text-align: center;
	}

  		#header h1 {
  			margin: 0 0 0.25em 0;
  		}

  		#header p {
  			font-size: 1.25em;
  			letter-spacing: -0.025em;
        color: rgba(255, 255, 255, 0.7);
	  		}

			#header.alt {
  			padding: 7em 5em 4em 5em ;
  		}

  			#header.alt h1 {
  				font-size: 3.25em;
  			}

				#header.alt > * {
  				-moz-transition: opacity 3s ease;
  				-webkit-transition: opacity 3s ease;
  				-ms-transition: opacity 3s ease;
  				transition: opacity 3s ease;
  				-moz-transition-delay: 0.5s;
  				-webkit-transition-delay: 0.5s;
  				-ms-transition-delay: 0.5s;
  				transition-delay: 0.5s;
  				opacity: 1;
  			}

				#header.alt .logo {
  				-moz-transition: opacity 1.25s ease, -moz-transform 0.5s ease;
  				-webkit-transition: opacity 1.25s ease, -webkit-transform 0.5s ease;
  				-ms-transition: opacity 1.25s ease, -ms-transform 0.5s ease;
  				transition: opacity 1.25s ease, transform 0.5s ease;
  				-moz-transition-delay: 0s;
  				-webkit-transition-delay: 0s;
  				-ms-transition-delay: 0s;
  				transition-delay: 0s;
  				display: block;
  				margin: 0 0 1.5em 0;
  			}

  				#header.alt .logo img {
  					display: block;
  					margin: 10% auto;
  					max-width: 75%;
  				}

  		@media screen and (max-width: 1280px) {

  			#header {
  				padding: 4em 4em 0.1em 4em ;
  			}

  				#header.alt {
  					padding: 6em 4em 3em 4em ;
  				}

  		}

  		@media screen and (max-width: 980px) {

  			#header {
  				padding: 4em 3em 0.1em 3em ;
  			}

  				#header.alt {
  					padding: 5em 3em 2em 3em ;
  				}

  		}

  		@media screen and (max-width: 736px) {

  			#header {
  				padding: 3em 2em 0.1em 2em ;
  			}

  				#header p {
  					font-size: 1em;
  					letter-spacing: 0;
            color: rgba(255, 255, 255, 0.7);
  				}

  					#header p br {
  						display: none;
  					}

  				#header.alt {
  					padding: 4em 2em 1em 2em ;
  				}

  					#header.alt h1 {
  						font-size: 2.5em;
  					}

  		}

  		@media screen and (max-width: 480px) {

  			#header {
  				padding: 3em 1.5em 0.1em 1.5em ;
  			}

  				#header.alt {
  					padding: 4em 1.5em 1em 1.5em ;
  				}

  		}

  		@media screen and (max-width: 360px) {

  			#header {
  				padding: 2.5em 1em 0.1em 1em ;
  			}

  				#header.alt {
  					padding: 3.5em 1em 0.5em 1em ;
  				}

  		}

  		body.is-preload #header.alt > * {
  			opacity: 0;
  		}

			  		body.is-preload #header.alt .logo {
			  			-moz-transform: scale(0.8) rotate(-30deg);
			  			-webkit-transform: scale(0.8) rotate(-30deg);
			  			-ms-transform: scale(0.8) rotate(-30deg);
			  			transform: scale(0.8) rotate(-30deg);
			  		}

      /* Footer */

      	#footer {
      		display: -moz-flex;
      		display: -webkit-flex;
      		display: -ms-flex;
      		display: flex;
      		-moz-flex-wrap: wrap;
      		-webkit-flex-wrap: wrap;
      		-ms-flex-wrap: wrap;
      		flex-wrap: wrap;
      		padding: 5em 5em 3em 5em ;
      		width: calc(100% + 2em);
      		margin: 0 0 3em -2em;
      	}

      		#footer > * {
      			width: calc(50% - 2em);
      			margin-left: 2em;
      		}

      		#footer .copyright {
      			width: 100%;
      			margin: 2.5em 0 2em 0;
      			font-size: 0.8em;
      			text-align: center;
      		}

      		@media screen and (max-width: 1280px) {

      			#footer {
      				padding: 4em 4em 2em 4em ;
      			}

      		}

      		@media screen and (max-width: 980px) {

      			#footer {
      				padding: 4em 3em 2em 3em ;
      				display: block;
      				margin: 0 0 3em 0;
      				width: 100%;
      			}

      				#footer > * {
      					width: 100%;
      					margin-left: 0;
      					margin-bottom: 3em;
      				}

      				#footer .copyright {
      					text-align: left;
      				}

      		}

      		@media screen and (max-width: 736px) {

      			#footer {
      				padding: 3em 2em 1em 2em ;
      			}

      		}

      		@media screen and (max-width: 480px) {

      			#footer {
      				padding: 3em 1.5em 1em 1.5em ;
      			}

      		}

      		@media screen and (max-width: 480px) {

      			#footer {
      				padding: 2.5em 1em 0.5em 1em ;
      			}

      		}

      /* Wrapper */

			#wrapper {
				width: 65em;
				max-width: calc(100% - 4em);
				margin: 0 180px;
			}

				@media screen and (max-width: 480px) {

					#wrapper {
						max-width: calc(100% - 2em);
					}

				}

				@media screen and (max-width: 360px) {

					#wrapper {
						max-width: 100%;
					}

				}

				/* Dropotron */

					.dropotron {
						background-image: -moz-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0)), url("images/bg01.png");
						background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0)), url("images/bg01.png");
						background-image: -ms-linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0)), url("images/bg01.png");
						background-image: linear-gradient(top, rgba(0,0,0,0.3), rgba(0,0,0,0)), url("images/bg01.png");
						background-color: #333;
						border-radius: 5px;
						color: #fff;
						min-width: 10em;
						padding: 1em 1em 1em 1em;
						text-align: center;
						box-shadow: 0 1em 1em 0 rgba(0, 0, 0, 0.5);
						list-style: none;
					}

						.dropotron li {
							line-height: 2em;
							padding: 0 1.1em 0 1em;
						}

							.dropotron li a {
								color: #c0c0c0;
								text-decoration: none;
								border: 0;
							}

							.dropotron li.active a, .dropotron li:hover a {
								color: #fff;
							}

						.dropotron.level-0 {
							border-radius: 0 0 5px 5px;
							font-size: 0.9em;
							padding-top: 0;
							margin-top: -1px;
						}

							.dropdown {
						  position: relative;
						  display: inline-block;
						}

						.dropdown-content {
							display: none;
							position: -100rem;
							position: absolute;
							background-color: rgba(101, 41, 209, 0.6);
							margin: 1em 1em 1em 1em;
							width: 300px;
							border: solid purple 5px;
							border-radius: 15px;
							box-shadow: 200px rgba(0,0,0,0.2);
							z-index: 1;
							left: -24%;
						}

						.dropdown-content a {
						  color: black;
						  padding: 12px 16px;
						  text-decoration: none;
						  display: block;
						}

						.dropdown-content a:hover {
							color: transparent;
							min-width: 200px;
							background-color: #f1f1f1}

						.dropdown:hover .dropdown-content {
						  display: block;
						}


/*nav research */


#nav_research {
	-moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
	-webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
	-ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
	transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
	color: #636363;
	position: absolute;
	width: 64em;
	max-width: calc(100% - 4em);
	padding: 1em;
	background-color: transparent;
	border-top-left-radius: 0.25em;
	border-top-right-radius: 0.25em;
	cursor: default;
	text-align: center;
}

	#nav_research input, #nav select, #nav textarea {
		color: purple;
}

#nav_research strong, #nav_research b {
	color: white;
}

#nav_research ul {
	margin: 0;
	padding: 0;
	list-style: none;
	color: purple;
}

	#nav_research ul li {
		-moz-transition: margin 0.2s ease;
		-webkit-transition: margin 0.2s ease;
		-ms-transition: margin 0.2s ease;
		transition: margin 0.2s ease;
		display: inline-block;
		margin:  0.35em 0 0 0 ;
		padding: 0;
		vertical-align: middle;
	}

		#nav_research ul li a
		{-moz-transition: font-size 0.2s ease;
				-webkit-transition: font-size 0.2s ease;
				-ms-transition: font-size 0.2s ease;
				transition: font-size 0.2s ease;
				display: inline-block;
				height: 3em;
				min-width: 8rem;
				line-height: 3em;
				padding: -0.0rem 1.25rem 1.0rem 1.45rem ;
				letter-spacing: 0.15rem;
				font-size: 2rem;
				color: purple;
				border: solid 6px purple;
				border-radius: 5px;
				border-color:purple;
				border-radius: 15px;
				box-shadow: inset 0 0 0 5px transparent;
			}

			#nav_research ul li a:hover {
				background-color: rgba(222, 222, 222, 1);
				color:purple;
			}

			#nav_research ul li a.active {
				background-color: transparent;
				box-shadow: none;
			}

			#nav_research + #main {
				padding-top: 10em;
			}

			@media screen and (max-width: 736px) {

				#nav_research {
					display: none;
				}

					#nav_research + #main {
						padding-top: 0;
					}

			}



/* nav */
      #nav {
    		-moz-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    		-webkit-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    		-ms-transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    		transition: background-color 0.2s ease, border-top-left-radius 0.2s ease, border-top-right-radius 0.2s ease, padding 0.2s ease;
    		color: #636363;
    		position: center;
    		width: 70em;
    		max-width: calc(100% + 5em);
    		padding: 1em 1em 1em 1em;
    		background-color: transparent;
				margin-left: -3em;
				border-top-left-radius: 0.25em;
    		border-top-right-radius: 0.25em;
    		cursor: default;
    		text-align: center;
    	}

    		#nav input, #nav select, #nav textarea {
    			color: purple;
    		}

    		#nav a:hover {
    			color: #636363;

    		}

    		#nav strong, #nav b {
    			color: white;
    		}

    		#nav h1, #nav h2, #nav h3, #nav h4, #nav h5, #nav h6 {
    			color: #636363;
    		}

    		#nav blockquote {
    			border-left-color: #dddddd;
    		}

    		#nav code {
    			background: rgba(222, 222, 222, 0.25);
    			border-color: #dddddd;
    		}

    		#nav hr {
    			border-bottom-color: #dddddd;
    		}

    		#nav + #main {
    			padding-top: 0;
    		}

    		#nav ul {
    			margin: 0;
    			padding: 0;
    			list-style: none;
          color: purple;
    		}

    			#nav ul li {
						-moz-transition: margin 0.2s ease;
						-webkit-transition: margin 0.2s ease;
						-ms-transition: margin 0.2s ease;
						transition: margin 0.2s ease;
						display: inline-block;
						margin:  0.35em 0 0 0 ;
						padding: 0;
						vertical-align: middle;}

    				#nav ul li a {
    					-moz-transition: font-size 0.2s ease;
    					-webkit-transition: font-size 0.2s ease;
    					-ms-transition: font-size 0.2s ease;
    					transition: font-size 0.2s ease;
    					display: inline-block;
    					height: 3em;
              min-width: 7rem;
    					line-height: 3em;
    					padding: -0.0rem 1.25rem 1.0rem 1.45rem ;
              letter-spacing: 0.15rem;
              font-size: 2rem;
              color: purple;
							background-color: rgba(101, 41, 209, 0.6);
    					border: solid 6px purple;
              border-radius: 5px;
              border-color:purple;
    					border-radius: 15px;
    					box-shadow: inset 0 0 0 5px rgba(101, 41, 209, 0.8);
    				}

    					#nav ul li a:hover {
    						background-color: rgba(222, 222, 222, 1);
                color:purple;
    					}

							#nav ul li a.active {
    						background-color: transparent;
    						box-shadow: none;
    					}

    		#nav.alt {
    			position: fixed;
    			top: 0;
    			padding: 0 0 0.5em  1em;
    			background-color: transparent;
    			border-top-left-radius: 0;
    			border-top-right-radius: 0;
    			z-index: 10000;
    		}

    			#nav.alt ul li {
    				margin: 0 0.175em;
    			}

    				#nav.alt ul li a {
    					font-size: 0.9em;
    				}

    		@media screen and (max-width: 736px) {

    			#nav {
    				display: none;
    			}

    				#nav + #main {
    					padding-top: 0;
    				}

    		}


    		/* Vertical */

    		#Vertical .top {
    			-moz-flex-grow: 1;
    			-webkit-flex-grow: 1;
    			-ms-flex-grow: 1;
    			flex-grow: 1;
    		}

        #Vertical .top {
					position: relative;
									}

    		#nav_vert ul {
    			list-style: none;
    			padding-left: 0;
    			margin-bottom: 0;
    		}

    			#nav_vert ul li {
    				padding-left: 0;
    			}

    				#nav_vert ul li a {
							-moz-transition: font-size 0.2s ease;
    					-webkit-transition: font-size 0.2s ease;
    					-ms-transition: font-size 0.2s ease;
    					transition: font-size 0.2s ease;
    					display: block;
    					height: 3em;
              min-width: 8rem;
    					line-height: 3em;
    					padding: 0 1.25rem 0 1.45rem ;
              letter-spacing: 0.15rem;
              font-size: 2rem;
              color: purple;
    					border: solid 6px purple;
              border-radius: 5px;
              border-color:purple;
    					border-radius: 15px;
    					box-shadow: inset 0 0 0 5px transparent;
    				}

    					#nav_vert ul li a span {
    						position: relative;
    						display: block;
    						font-size: 0.8em;
    					}

    						#nav_vert ul li a span:before {
    							position: absolute;
    							left: 0;
    							color: #41484c;
    							text-align: center;
    							width: 1.25em;
    							line-height: 1.75em;
    						}

								#nav_vert ul li a.active {
	    						background: rgba(0, 0, 0, 0.15);
	    						box-shadow: inset 0 0 0.25em 0 rgba(0, 0, 0, 0.125);
	    						color: #fff;
	    					}

								#nav_vert ul li a.active span:before {
    							color: #e27689;
    						}

                #nav_vert ul li a {
                  font-size: 0.8em;
                  padding-top: 0.5em;
                  padding-bottom: 0.5em;

                }

                  #nav_vert ul li a span {
                    padding-right: 2.25em;

                  }

                    #nav_vert ul li a span:before {
                      left: 100%;
                      margin-left: -1.25em;
                      line-height: 2.25em;

                    }

                #nav_vert ul li a {
                  padding: 0.5em 1.25em 0.5em 1.25em;
}

ul.icons li a {
  border-radius: 100%;
  box-shadow: inset 0 0 0 5px purple;
  display: inline-block;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  width: 4rem;
		outline: 0;
}

address {font-size: 1.4rem;}

#Vertical{
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset -0.25em 0 0.25em 0 purple;
  color: #fff;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 100px;
}

#Vertical_Project {
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: space-between;
  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: inset -0.25em 0 0.25em 0 purple;
  color: #fff;
  height: 100%;
  left: 0;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 150px;
}

#Vertical_Project ul li a:hover {
	background-color: rgba(222, 222, 222, 1);
	color:purple;
}

ul.Vert_Project li a {
	font-size:1.2rem;
	height: 3em;
	min-width: 8rem;
	line-height: 3em;
	padding: 0 1.25rem 0 1.45rem ;
	letter-spacing: 0.15rem;
	font-size: 2rem;
	color: purple;
	border: solid 6px purple;
	border-radius: 5px;
	border-color:purple;
	border-radius: 15px;
	box-shadow: inset 0 0 0 5px transparent;
}
/*#Vertical ul li {
	-moz-transition: font-size 0.2s ease;
	-webkit-transition: font-size 0.2s ease;
	-ms-transition: font-size 0.2s ease;
	transition: font-size 0.2s ease;
	display: block;
	height: 3em;
	min-width: 8rem;
	line-height: 3em;
	padding: 0 1.25rem 0 1.45rem ;
	letter-spacing: 0.15rem;
	font-size: 2rem;
	color: purple;
	border: solid 6px purple;
	border-radius: 5px;
	border-color:purple;
	border-radius: 15px;
	box-shadow: inset 0 0 0 5px transparent;
}*/

#Vertical .bottom > :last-child {
	margin-bottom: 0;
}

#Vertical .icons {
font-size: 0.8em;
text-align: center;
}

#vertical .icons a {
	color: #41484c;
	-moz-transition: color 0.35s ease-in-out;
	-webkit-transition: color 0.35s ease-in-out;
	-ms-transition: color 0.35s ease-in-out;
	transition: color 0.35s ease-in-out;
	outline: 0;
}

#Vertical .icons a:hover {
	background-color: rgba(255, 255, 255, 0.4);
	color: #636363;

}

/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;
	}

		ul.icons li {
			display: inline-block;
			padding: 0 0.65em 0 0;
			outline: none;
		}

				ul.icons li:last-child {
				padding-right: 0 !important;
			}

/* Section/Article */

	section.special, article.special {
		text-align: center;
	}

	header.major {
		margin-bottom: 3em;
	}

		header.major h2 {
			font-size: 2em;
		}

			header.major h2:after {
				display: block;
				content: '';
				width: 3.25em;
				height: 2px;
				margin: 0.7em 0 1em 0;
				border-radius: 2px;
			}

			header.major h1:after {
				display: block;
				content: '';
				width: 10em;
				height: 2px;
				margin: 0.7em 0 1em 0;
				border-radius: 2px;
			}

figcaption {font-size: 1.15rem}

				section.special header.major h2:after, article.special header.major h2:after {
					margin-left: auto;
					margin-right: auto;
				}

				section.special header.major h1:after, article.special header.major h1:after {
					margin-left: auto;
					margin-right: auto;
				}

		header.major p {
			font-size: 1.25em;
			letter-spacing: -0.025em;
		}

		header.major.special {
			text-align: center;
		}

			header.major.special h2:after {
				margin-left: auto;
				margin-right: auto;
			}

			header.major.special h1:after {
				margin-left: auto;
				margin-right: auto;
			}

	footer.major {
		margin-top: 3em;
	}

	@media screen and (max-width: 736px) {

		header.major {
			margin-bottom: 0;
		}

			header.major h2  {
				font-size: 2em;
			}

			header.major p {
				font-size: 1em;
				letter-spacing: 0;
			}

				header.major p br {
					display: none;
				}

		footer.major {
			margin-top: 0;
		}

	}

	header.major h2:after {
		background-color: rgba(255, 255, 255, 0.35);
	}

	header.major h1:after {
		background-color: rgba(255, 255, 255, 0.35);
	}

/* Actions */

	ul.actions {
		display: -moz-flex;
		display: -webkit-flex;
		display: -ms-flex;
		display: flex;
		cursor: default;
		list-style: none;
		margin-left: -1em;
		padding-left: 0;
	}

		ul.actions li {
			padding: 0 0 0 1em;
			vertical-align: middle;
		}

		ul.actions.special {
			-moz-justify-content: center;
			-webkit-justify-content: center;
			-ms-justify-content: center;
			justify-content: center;
			width: 100%;
			margin-left: 0;
		}

			ul.actions.special li:first-child {
				padding-left: 0;
			}

		ul.actions.stacked {
			-moz-flex-direction: column;
			-webkit-flex-direction: column;
			-ms-flex-direction: column;
			flex-direction: column;
			margin-left: 0;
		}

			ul.actions.stacked li {
				padding: 1.3em 0 0 0;
			}

				ul.actions.stacked li:first-child {
					padding-top: 0;
				}

		ul.actions.fit {
			width: calc(100% + 1em);
		}

			ul.actions.fit li {
				-moz-flex-grow: 1;
				-webkit-flex-grow: 1;
				-ms-flex-grow: 1;
				flex-grow: 1;
				-moz-flex-shrink: 1;
				-webkit-flex-shrink: 1;
				-ms-flex-shrink: 1;
				flex-shrink: 1;
				width: 100%;
			}

				ul.actions.fit li > * {
					width: 100%;
				}

			ul.actions.fit.stacked {
				width: 100%;
			}

		@media screen and (max-width: 480px) {

			ul.actions:not(.fixed) {
				-moz-flex-direction: column;
				-webkit-flex-direction: column;
				-ms-flex-direction: column;
				flex-direction: column;
				margin-left: 0;
				width: 100% !important;
			}

				ul.actions:not(.fixed) li {
					-moz-flex-grow: 1;
					-webkit-flex-grow: 1;
					-ms-flex-grow: 1;
					flex-grow: 1;
					-moz-flex-shrink: 1;
					-webkit-flex-shrink: 1;
					-ms-flex-shrink: 1;
					flex-shrink: 1;
					padding: 1em 0 0 0;
					text-align: center;
					width: 100%;
				}

					ul.actions:not(.fixed) li > * {
						width: 100%;
					}

					ul.actions:not(.fixed) li:first-child {
						padding-top: 0;
					}

					ul.actions:not(.fixed) li input[type="submit"],
					ul.actions:not(.fixed) li input[type="reset"],
					ul.actions:not(.fixed) li input[type="button"],
					ul.actions:not(.fixed) li button,
					ul.actions:not(.fixed) li .button {
						width: 100%;
					}

						ul.actions:not(.fixed) li input[type="submit"].icon:before,
						ul.actions:not(.fixed) li input[type="reset"].icon:before,
						ul.actions:not(.fixed) li input[type="button"].icon:before,
						ul.actions:not(.fixed) li button.icon:before,
						ul.actions:not(.fixed) li .button.icon:before {
							margin-left: -0.5rem;
						}

		}


    /* Features */

    	.features {
    		display: -moz-flex;
    		display: -webkit-flex;
    		display: -ms-flex;
    		display: flex;
    		-moz-flex-wrap: wrap;
    		-webkit-flex-wrap: wrap;
    		-ms-flex-wrap: wrap;
    		flex-wrap: wrap;
    		-moz-justify-content: center;
    		-webkit-justify-content: center;
    		-ms-justify-content: center;
    		justify-content: center;
    		width: calc(100% + 2em);
    		margin: 0 0 3em -2em;
    		padding: 0;
    		list-style: none;
    	}

    		.features li {
    			width: calc(33.33333% - 2em);
    			margin-left: 2em;
    			margin-top: 3em;
    			padding: 0;
    		}

    			.features li:nth-child(1), .features li:nth-child(2), .features li:nth-child(3) {
    				margin-top: 0;
    			}

    			.features li > :last-child {
    				margin-bottom: 0;
    			}

    		@media screen and (max-width: 980px) {

    			.features li {
    				width: calc(50% - 2em);
    			}

    				.features li:nth-child(3) {
    					margin-top: 3em;
    				}

    		}

    		@media screen and (max-width: 736px) {

    			.features {
    				width: 100%;
    				margin: 0 0 2em 0;
    			}

    				.features li {
    					width: 100%;
    					margin-left: 0;
    					margin-top: 2em;
    				}

    					.features li:nth-child(2), .features li:nth-child(3) {
    						margin-top: 2em;
    					}

    		}

    /* Statistics */

    	.statistics {
    		display: -moz-flex;
    		display: -webkit-flex;
    		display: -ms-flex;
    		display: flex;
    		width: 100%;
    		margin: 0 0 3em 0;
    		padding: 0;
    		list-style: none;
    		cursor: default;
    	}

    		.statistics li {
    			-moz-flex: 1;
    			-webkit-flex: 1;
    			-ms-flex: 1;
    			flex: 1;
    			padding: 1.5em;
    			color: #ffffff;
    			text-align: center;
    		}

    			.statistics li.style1 {
    				background-color: #efa8b0;
    			}

    			.statistics li.style2 {
    				background-color: #c79cc8;
    			}

    			.statistics li.style3 {
    				background-color: #a89cc8;
    			}

    			.statistics li.style4 {
    				background-color: #9bb2e1;
    			}

    			.statistics li.style5 {
    				background-color: #8cc9f0;
    			}

    			.statistics li strong, .statistics li b {
    				display: block;
    				font-size: 2em;
    				line-height: 1.1;
    				color: inherit !important;
    				font-weight: 300;
    				letter-spacing: -0.025em;
    			}

    			.statistics li:first-child {
    				border-top-left-radius: 8px;
    				border-bottom-left-radius: 8px;
    			}

    			.statistics li:last-child {
    				border-top-right-radius: 8px;
    				border-bottom-right-radius: 8px;
    			}

    			.statistics li .icon {
    				display: inline-block;
    			}

    				.statistics li .icon:before {
    					font-size: 2.75rem;
    					line-height: 1.3;
    				}

    		@media screen and (max-width: 980px) {

    			.statistics li strong, .statistics li b {
    				font-size: 1.5em;
    			}

    		}

    		@media screen and (max-width: 736px) {

    			.statistics {
    				display: block;
    				width: 20em;
    				max-width: 100%;
    				margin: 0 auto 2em auto;
    			}

    				.statistics li:first-child {
    					border-bottom-left-radius: 0;
    					border-top-right-radius: 8px;
    				}

    				.statistics li:last-child {
    					border-top-right-radius: 0;
    					border-bottom-left-radius: 8px;
    				}

    				.statistics li .icon:before {
    					font-size: 3.75rem;
    				}

    				.statistics li strong, .statistics li b {
    					font-size: 2.5em;
    				}

    		}

    /* Spotlight */

    	.spotlight {
    		display: -moz-flex;
    		display: -webkit-flex;
    		display: -ms-flex;
    		display: flex;
    		-moz-align-items: center;
    		-webkit-align-items: center;
    		-ms-align-items: center;
    		align-items: center;
    		margin: 0 0 2em 0;
    	}

    		.spotlight .content {
    			-moz-flex: 1;
    			-webkit-flex: 1;
    			-ms-flex: 1;
    			flex: 1;
    		}

    			.spotlight .content > :last-child {
    				margin-bottom: 0;
    			}

    			.spotlight .content header.major {
    				margin: 0 0 2em 0;
    			}

    		.spotlight .image {
    			display: inline-block;
    			margin-left: 4em;
    			padding: 0.65em;
    			border-radius: 100%;
    			border: solid 1px;
    		}

    			.spotlight .image img {
    				display: block;
    				border-radius: 100%;
    				width: 16em;
    			}

    		@media screen and (max-width: 980px) {

    			.spotlight {
    				-moz-flex-direction: column-reverse;
    				-webkit-flex-direction: column-reverse;
    				-ms-flex-direction: column-reverse;
    				flex-direction: column-reverse;
    				text-align: center;
    			}

    				.spotlight .content {
    					-moz-flex: 0 1 auto;
    					-webkit-flex: 0 1 auto;
    					-ms-flex: 0 1 auto;
    					flex: 0 1 auto;
    					width: 100%;
    				}

    					.spotlight .content header.major h2:after {
    						margin-left: auto;
    						margin-right: auto;
    					}
							.spotlight .content header.major h1:after {
    						margin-left: auto;
    						margin-right: auto;
    					}

    					.spotlight .content .actions {
    						-moz-justify-content: center;
    						-webkit-justify-content: center;
    						-ms-justify-content: center;
    						justify-content: center;
    						width: calc(100% + 1em);
    					}

    				.spotlight .image {
    					-moz-flex: 0 1 auto;
    					-webkit-flex: 0 1 auto;
    					-ms-flex: 0 1 auto;
    					flex: 0 1 auto;
    					margin-left: 0;
    					margin-bottom: 2em;
    				}

    		}

    		@media screen and (max-width: 736px) {

    			.spotlight .image {
    				padding: 0.35em;
    			}

    				.spotlight .image img {
    					width: 12em;
    				}

    		}

    	.spotlight .image {
    		border-color: rgba(255, 255, 255, 0.35);
    	}

			/* Image */

				.image {
					border-radius: 30px;
					border: 0;
					display: inline-block;
					position: relative;
				}

					.image img {
						border-radius: 15px;
						display: block;
					}

					.image.left, .image.right {
						max-width: 40%;
					}

						.image.left img, .image.right img {
							width: 100%;
						}

					.image.left {
						float: left;
						margin: 0 1.5em 1em 0;
						top: 0.25em;
					}

					.image.right {
						float: right;
						margin: 0 0 1em 1.5em;
						top: 0.25em;
					}

					.image.fit {
						display: block;
						margin: 0 0 2em 0;
						width: 100%;
					}

						.image.fit img {
							width: 100%;
						}

					.image.main {
						display: block;
						margin: 0 0 3em 0;
						width: 100%;
					}

						.image.main img {
							width: 100%;
						}


      /* Main */
    #main {
    		background-color: transparent;
    		color: rgba(255, 255, 255, 0.7);
    		border-radius: 0.25em;
    	}

    		#main input, #main select, #main textarea {
    			color: white;
    		}

    		#main a:hover {
    			color: #636363;
					background-color: rgba(255, 255, 255, 0.4);
    		}

				    		#main strong, #main b {
				    			color: white;
				    		}

    		#main h1, #main h2, #main h3, #main h4, #main h5, #main h6 {
    			color: white;
    		}

    		#main blockquote {
    			border-left-color: #dddddd;
    		}

    		#main code {
    			background: rgba(222, 222, 222, 0.25);
    			border-color: #dddddd;
    		}

    		#main hr {
    			border-bottom-color: #dddddd;
    		}

    		#main .box {
    			border-color: #dddddd;
    		}

    		#main input[type="submit"],
    		#main input[type="reset"],
    		#main input[type="button"],
    		#main button,
    		#main .button {
    			background-color: transparent;
    			box-shadow: inset 0 0 0 1px #dddddd;
    			color: #636363 !important;
    		}

    			#main input[type="submit"]:hover,
    			#main input[type="reset"]:hover,
    			#main input[type="button"]:hover,
    			#main button:hover,
    			#main .button:hover {
    				background-color: rgba(222, 222, 222, 0.25);
    			}

					#main input[type="submit"]:active,
    			#main input[type="reset"]:active,
    			#main input[type="button"]:active,
    			#main button:active,
    			#main .button:active {
    				background-color: rgba(222, 222, 222, 0.5);
    			}

    			#main input[type="submit"].icon:before,
    			#main input[type="reset"].icon:before,
    			#main input[type="button"].icon:before,
    			#main button.icon:before,
    			#main .button.icon:before {
    				color: rgba(99, 99, 99, 0.25);
    			}

    			#main input[type="submit"].primary,
    			#main input[type="reset"].primary,
    			#main input[type="button"].primary,
    			#main button.primary,
    			#main .button.primary {
    				background-color: #8cc9f0;
    				color: #ffffff !important;
    				box-shadow: none;
    			}

    				#main input[type="submit"].primary:hover,
    				#main input[type="reset"].primary:hover,
    				#main input[type="button"].primary:hover,
    				#main button.primary:hover,
    				#main .button.primary:hover {
    					background-color: #9acff2;
    				}

    				#main input[type="submit"].primary:active,
    				#main input[type="reset"].primary:active,
    				#main input[type="button"].primary:active,
    				#main button.primary:active,
    				#main .button.primary:active {
    					background-color: #7ec3ee;
    				}

    				#main input[type="submit"].primary.icon:before,
    				#main input[type="reset"].primary.icon:before,
    				#main input[type="button"].primary.icon:before,
    				#main button.primary.icon:before,
    				#main .button.primary.icon:before {
    					color: #ffffff !important;
    				}

    		#main label {
    			color: #636363;
    		}

    		#main input[type="text"],
    		#main input[type="password"],
    		#main input[type="email"],
    		#main select,
    		#main textarea {
    			background-color: rgba(222, 222, 222, 0.25);
    			border-color: #dddddd;
    		}

    			#main input[type="text"]:focus,
    			#main input[type="password"]:focus,
    			#main input[type="email"]:focus,
    			#main select:focus,
    			#main textarea:focus {
    				border-color: #8cc9f0;
    				box-shadow: 0 0 0 1px #8cc9f0;
    			}

    		#main select {
    			background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' preserveAspectRatio='none' viewBox='0 0 40 40'%3E%3Cpath d='M9.4,12.3l10.4,10.4l10.4-10.4c0.2-0.2,0.5-0.4,0.9-0.4c0.3,0,0.6,0.1,0.9,0.4l3.3,3.3c0.2,0.2,0.4,0.5,0.4,0.9 c0,0.4-0.1,0.6-0.4,0.9L20.7,31.9c-0.2,0.2-0.5,0.4-0.9,0.4c-0.3,0-0.6-0.1-0.9-0.4L4.3,17.3c-0.2-0.2-0.4-0.5-0.4-0.9 c0-0.4,0.1-0.6,0.4-0.9l3.3-3.3c0.2-0.2,0.5-0.4,0.9-0.4S9.1,12.1,9.4,12.3z' fill='%23dddddd' /%3E%3C/svg%3E");
    		}

    			#main select option {
    				color: #636363;
    				background: #ffffff;
    			}

    		#main input[type="checkbox"] + label,
    		#main input[type="radio"] + label {
    			color: #636363;
    		}

    			#main input[type="checkbox"] + label:before,
    			#main input[type="radio"] + label:before {
    				background: rgba(222, 222, 222, 0.25);
    				border-color: #dddddd;
    			}

    		#main input[type="checkbox"]:checked + label:before,
    		#main input[type="radio"]:checked + label:before {
    			background-color: #636363;
    			border-color: #636363;
    			color: #ffffff;
    		}

    		#main input[type="checkbox"]:focus + label:before,
    		#main input[type="radio"]:focus + label:before {
    			border-color: #8cc9f0;
    			box-shadow: 0 0 0 1px #8cc9f0;
    		}

    		#main ::-webkit-input-placeholder {
    			color: rgba(99, 99, 99, 0.25) !important;
    		}

    		#main :-moz-placeholder {
    			color: rgba(99, 99, 99, 0.25) !important;
    		}

    		#main ::-moz-placeholder {
    			color: rgba(99, 99, 99, 0.25) !important;
    		}

    		#main :-ms-input-placeholder {
    			color: rgba(99, 99, 99, 0.25) !important;
    		}

    		#main .formerize-placeholder {
    			color: rgba(99, 99, 99, 0.25) !important;
    		}

    		#main .icon.major {
    			border-color: #dddddd;
    		}

    			#main .icon.major:before {
    				border-color: #dddddd;
    			}

    		#main .icon.alt {
    			border-color: #dddddd;
    			color: #636363;
    		}

    			#main .icon.alt:hover {
    				background-color: rgba(222, 222, 222, 0.25);
    			}

					#main .icon.alt:active {
    				background-color: rgba(222, 222, 222, 0.5);
    			}

    		#main ul.alt li {
    			border-top-color: #dddddd;
    		}

    		#main dl dt {
    			color: #636363;
    		}

    		#main header.major h2:after {
    			background-color: #dddddd;
    			background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    			background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    			background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    			background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
    		}

				#main header.major h1:after {
					background-color: #dddddd;
					background-image: -moz-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
					background-image: -webkit-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
					background-image: -ms-linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
					background-image: linear-gradient(90deg, #efa8b0, #a89cc8, #8cc9f0);
				}

    		#main table tbody tr {
    			border-color: #dddddd;
    		}

    			#main table tbody tr:nth-child(2n + 1) {
    				background-color: rgba(222, 222, 222, 0.25);
    			}

    		#main table th {
    			color: #636363;
    		}

    		#main table thead {
    			border-bottom-color: #dddddd;
    		}

    		#main table tfoot {
    			border-top-color: #dddddd;
    		}

    		#main table.alt tbody tr td {
    			border-color: #dddddd;
    		}

    		#main .spotlight .image {
    			border-color: #dddddd;
    		}

				    		#main > .main {
				    			padding: 5em 5em 3em 5em ;
									margin: 0 0 0 -50px ;
				    			border-top: solid 3px purple;

				    		}

								#main > .main_winds {
									padding: 5em 5em 3em 5em ;
									margin: 0 0 0 0px ;
									border-top: solid 3px purple;

								}

    			#main > .main:first-child {
    				border-top: 0;
}

				#main > .main > .image.main:first-child {
    				margin: -5em 0 5em -5em;
    				width: calc(100% + 10em);
    				border-top-right-radius: 0.25em;
    				border-top-left-radius: 0.25em;
    				border-bottom-right-radius: 0;
    				border-bottom-left-radius: 0;
    			}

    				#main > .main > .image.main:first-child img {
    					border-top-right-radius: 0.25em;
    					border-top-left-radius: 0.25em;
    					border-bottom-right-radius: 0;
    					border-bottom-left-radius: 0;
    				}


    		@media screen and (max-width: 1280px) {

    			#main > .main {
    				padding: 4em 4em 2em 4em ;
    			}

    				#main > .main > .image.main:first-child {
    					margin: -4em 0 4em -4em;
    					width: calc(100% + 8em);
    				}

    		}

    		@media screen and (max-width: 980px) {

    			#main > .main {
    				padding: 4em 3em 2em 3em ;
    			}

    				#main > .main > .image.main:first-child {
    					margin: -4em 0 4em -3em;
    					width: calc(100% + 6em);
    				}

    		}

    		@media screen and (max-width: 736px) {

    			#main > .main {
    				padding: 3em 2em 1em 2em ;
    			}

    				#main > .main > .image.main:first-child {
    					margin: -3em 0 2em -2em;
    					width: calc(100% + 4em);
    				}

    		}

    		@media screen and (max-width: 480px) {

    			#main > .main {
    				padding: 3em 1.5em 1em 1.5em ;
    			}

    				#main > .main > .image.main:first-child {
    					margin: -3em 0 1.5em -1.5em;
    					width: calc(100% + 3em);
    				}

    		}

    		@media screen and (max-width: 360px) {

    			#main {
    				border-radius: 0;
    			}

    				#main > .main {
    					padding: 2.5em 1em 0.5em 1em ;
    				}

    					#main > .main > .image.main:first-child {
    						margin: -2.5em 0 1.5em -1em;
    						width: calc(100% + 2em);
    						border-radius: 0;
    					}

    						#main > .main > .image.main:first-child img {
    							border-radius: 0;
    						}
